body, html {
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.parent_container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 306px;
}

.child_container {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 16px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    width: 306px;
    /* height: 400px;
    width: 300px; */
}

.screen_container {
    background-color: rgba(9, 170, 9, 0.699);
    min-height: 75px;
    width: 274px;
    word-wrap: break-word;
}

.toolbar_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 10px; */
}

button {
    flex: 0 0 60px;
    /* height: 90px; */
    width: auto;
    margin: 2px;
}

button.delete, button.clear_all {
    min-width: 120px;
    margin: 4px;
}

.output_text {
    text-align: right;
}